* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-inter);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-nunito);
}

.container {
  margin-inline: auto;
  max-width: 1200px;
}

.main {
  flex-grow: 1;
  min-height: 100%;
}

ul {
  list-style: none;
}
